Django==5.2.16
psycopg[binary]==3.3.4
django-environ==0.14.0
django-simple-history==3.13.0
django-axes==8.3.1
django-htmx==1.28.0
argon2-cffi==25.1.0
whitenoise==6.12.0
gunicorn==26.0.0
openpyxl==3.1.5
django-ipware==7.0.1
freezegun==1.5.5
